extends layout

block content
    h1= title
    div.centerButtons
        button#buttonSrcOff(type='button', name='buttonSrcOff', value='srcOff').
            Source/Off
        br
        button#buttonVolUp(type='button', name='buttonVolUp', value='VolUp').
            Volume Up
        br
        button#buttonVolDown(type='button', name='buttonVolDown', value='VolDown').
            Volume Down
        br
        button#buttonMuteAtt(type='button', name='buttonMuteAtt', value='muteAtt').
            Mute/Attenuate

    script(type="text/javascript").
        var socket = io.connect('http://192.168.42.1:3000');

        $("#buttonSrcOff").click(function(event) {
            //socket = io.connect('http://192.168.42.1:3000', { 'forceNew':true });
            socket.emit('srcOff');
        });

        $("#buttonVolUp").click(function(event) {
            //socket = io.connect('http://192.168.42.1:3000', { 'forceNew':true });
            socket.emit('volUp');
        });

        $("#buttonVolDown").click(function(event) {
            //socket = io.connect('http://192.168.42.1:3000', { 'forceNew':true });
            socket.emit('volDown');
        });

        $("#buttonMuteAtt").click(function(event) {
            //socket = io.connect('http://192.168.42.1:3000', { 'forceNew':true });
            socket.emit('muteAtt');
        });